<% layout('./layouts/boilerplate.ejs') %>

<header>
  <section>
    <h2>
      <%= campground.location %>
    </h2>
  </section>
  <section>
    <%- include('../partials/icon')%>
  </section>
</header>
<figure>
  <img src="<%= campground.image  %>" alt="<%= campground.title %>">
  <figcaption>
    <p><%= campground.description %></p>
    <p><strong>$ <%= campground.price %></strong> /night</p>

  </figcaption>
</figure>


<footer>

  <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>


  <a href="/campgrounds">All Camps</a>

  <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
  </form>
</footer>