<% layout('./layouts/boilerplate.ejs') %>

<header class="d-flex w-100 justify-content-between gap-5 j justify-content-md-start align-items-md-auto align-content-md-around">
  <section>
    <h1>
      <%= campground.title %>
    </h1>
    <p class="text-muted  translate-middle-y justify-content-end">
      <%= campground.location %>
    </p>
  </section>
  <section class="">
    <%- include('../partials/icon')%>
  </section>
</header>

<figure class="d-flex flex-column col-md-8">
  <img src="<%= campground.image %>" width="100%" style="max-height:360px;
  min-height: 260px;" alt="<%= campground.title %>">
  <figcaption class="">
    <p class="bg-blue-50 w-25  text-center py-0  text-info-emphasis mr-auto mt-2 rounded-pill"></p><%= campground.description %></p>
    <p><strong>$ <%= campground.price %></strong>/night</p>

  </figcaption>
</figure>


<footer class="d-flex align-top gap-1">
  <a class="btn btn-primary " href="/campgrounds/<%= campground._id %>/edit">Edit</a>
  <a class="btn btn-primary " href="/campgrounds">All Camps</a>
  <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
    <button class="btn btn-primary " type="submit">Delete</button>
  </form>
</footer>