<%- include('../partials/head')%>
  <%- include('../partials/navbar')%>
    <div>
      <%= campground.location %>
        </h2>
        </section>
        <section>
          <%- include('../partials/icon')%>
        </section>
        </header>
        <figure>
          <img src="https://picsum.photos/460/200/" alt="<%= campground.title %>">
          <%=
            campground.description="lLorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem alias expedita velit, quia magnam fuga"
            %>
            </p>
    </div>
    </figcaption>
    </figure>


    <footer>
      <button type="button">
        <a href="/campgrounds/<%= campground._id %>/edit">Edit</a>
      </button>
      <button type="button">
        <a href="/campgrounds">All Camps</a>
      </button>
      <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
    </footer>
    </div>

    <%- include('../partials/footer')%>